.question {
  margin-top: 5%;
  width: 70%;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.79);
}

.singleQuestion {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgba(198, 198, 198, 0.289);
  background: white;
  border-radius: 40px;
  padding: 30px;
  margin-top: 20px;
}

.choices {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  
}

.singleOption {
  width: 47%;
  height: 50px;
  padding: 15px 20px;
  margin: 0px;
  border-radius: 20px;
  font-size: 20px;
  overflow: hidden;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.select {
  border: 3px solid rgb(6, 193, 0);
  color: rgb(0, 0, 0);
  background: rgb(231, 231, 231);
}

.incorrect {
  border: 2px solid rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  background: rgb(231, 231, 231);
}
