.button {
  font: inherit;
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(44, 95, 251);
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #c7d2ff;
}

.button:focus {
  outline: none;
}
